<aside class="sidebar">

  <div class="sidebar-container">
    <div class="sidebar-logo">
      <a href="{{site.baseurl}}/" class="logo">{% if site.name %}{{site.name}}{% else %}Fresh{% endif %}</a>
    </div>

    <menu class="sidebar-menu">
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/">My主页</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/portfolio/">WEB作品集</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/infovis/">Tableau作品集</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/note/">学习笔记</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/about/"">My</a></li>
    </menu>

    <div class="sidebar-social">
      <li class="social-items"><a href="https://www.facebook.com/{{site.facebook}}" class="social-links"><i class="social-icons fa fa-facebook" aria-hidden="true"></i></a></li>
      <li class="social-items"><a href="https://twitter.com/{{site.twitter}}" class="social-links"><i class="social-icons fa fa-twitter" aria-hidden="true"></i></a></li>
      <li class="social-items"><a href="https://plus.google.com/{{site.google-plus}}" class="social-links"><i class="social-icons fa fa-google-plus" aria-hidden="true"></i></a></li>
      <li class="social-items"><a href="https://github.com/{{site.github}}" class="social-links"><i class="social-icons fa fa-github" aria-hidden="true"></i></a></li>
      <p>
	  <a "中山大学南方学院 <a href = 'http://wcy.nfu.edu.cn/zh/教学教务/培养方案/网络与新媒体/'>网络与新媒体</a> 培养方案核心课程学期作品，由 <a href='http://wcy.nfu.edu.cn/zh/学院概况/师资队伍/廖汉腾/'>廖汉腾副教授</a> 指导"</a>
	    </p>
    </div>

  </div>
</aside>
